.register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #527490;
  flex-direction: column;
  gap: 10px;

  &_container {
    width: 500px;
    min-height: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;

    &_content {
      max-width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      gap: 30px;

      &_title {
        font-size: 32px;
        font-weight: 1000;
        color: #122d42;
      }

      form {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;

        input {
          font-size: 17px;
          height: 20px;
          border: none;
          border-bottom: 3px solid rgb(70, 70, 70);

          &::placeholder {
            color: #051623;
          }

          outline-color: transparent;
        }

        button {
          display: inline-block;
          outline: 0;
          border: none;
          box-shadow: none;
          cursor: pointer;
          font-size: 17px;
          width: 120px;
          height: 30px;
          font-weight: 400;
          color: #fff;
          text-align: center;
          line-height: normal;
          background: linear-gradient(90deg, #5522fa 0, #0074e4 100%);
          border-radius: 50px;
          transition: color 0.2s ease, background-color 0.2s ease,
            box-shadow 0.2s ease;

          &:hover {
            box-shadow: 0 0 0 0.15rem #5ceace;
          }
        }
      }

      a {
        color: #122d42;
        text-decoration: underline;
      }
    }
  }
  p {
    color: white;
    a {
      padding-left: 5px;
      color: white;
      text-decoration: underline;
      transition: 200ms;
      &:hover {
        color: #122d42;
      }
    }
  }
}
